body {
    margin: 50px;
    justify-content: center;
    display: flex;
}
.red{
    color:red;
}
.green{
    color: green;
}
.number-hint-list{
     display: flex;
     flex-direction: column-reverse;
}
.word-hint-list{
    display: flex;
    flex-direction: column-reverse;
}
.game-list{
    display: flex;
    flex-direction: column-reverse;
}
.connect-button{
    justify-content: center;
    display: flex;
}
